<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobsquad.review"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mobsquad.review.WelcomeScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobsquad.review.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.mobsquad.review.DashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.mobsquad.review.InterestListActivity"
            android:label="@string/title_activity_interest_list" >
        </activity>
        <activity
            android:name="com.mobsquad.review.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName="com.mobsquad.review.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobsquad.review.LoginActivity" />
        </activity>
        <activity
            android:name="com.mobsquad.review.MyProfileSettingsActivity"
            android:label="@string/title_activity_my_profile_settings"
            android:parentActivityName="com.mobsquad.review.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobsquad.review.DashboardActivity" />
        </activity>
        <activity
            android:name="com.mobsquad.review.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName="com.mobsquad.review.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobsquad.review.LoginActivity" />
        </activity>
        <activity
            android:name="com.mobsquad.review.SelectedInterestActivity"
            android:label="@string/title_activity_selected_interest"
            android:parentActivityName="com.mobsquad.review.InterestListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobsquad.review.InterestListActivity" />
        </activity>
        <activity
            android:name="com.mobsquad.review.MyProfileActivity"
            android:label="@string/title_activity_my_profile" >
        </activity>
        <activity
            android:name="com.mobsquad.review.MyFollowersActivity"
            android:label="@string/title_activity_my_followers" >
        </activity>
        <activity
            android:name="com.mobsquad.review.MyPostsActivity"
            android:label="@string/title_activity_my_posts" >
        </activity>
        <activity
            android:name="com.mobsquad.review.NewReviewActivity"
            android:label="@string/title_activity_new_review"
            android:parentActivityName="com.mobsquad.review.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobsquad.review.DashboardActivity" />
        </activity>
        <activity
            android:name="com.mobsquad.review.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:parentActivityName="com.mobsquad.review.DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobsquad.review.DashboardActivity" />
        </activity>
    </application>

</manifest>
